.parent {
    font-family: 'Montserrat';
    font-size: small;
    display: grid;
    grid-template-columns: 25px repeat(2, 1fr) 25px;
    grid-template-rows: 25px repeat(4, 1fr) 25px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 2 / 3 / 3 / 4; }
    .div3 { grid-area: 3 / 2 / 6 / 3; }
    .div4 { grid-area: 3 / 3 / 4 / 4; }
    .div5 { grid-area: 4 / 3 / 5 / 4; }
    .div6 { grid-area: 5 / 3 / 6 / 4; }
    
   
    span.t2{
        color: red;
       
    }